<h1>{{ category.name }}</h1>
<h2><small>Last modified: {{ category.last_modified }}</small></h2>
<p>{{ category.description }}</p>
<div>
  <a class="btn btn-primary" role="button"
     href="{{ category.wiki_url }}">
    Wiki Page
  </a>

  <a class="btn btn-success" role="button"
     href="{{ url_for('create_item', category_name=category.name) }}"
     {% if "username" not in session %} disabled {% endif %}>
    Add an item
  </a>

  <a class="btn btn-warning" role="button"
     href="{{ url_for('update_category', category_name=category.name) }}"
     {% if "username" not in session %} disabled {% endif %}>
    Edit
  </a>

  <form style="display:inline;"
        action="{{ url_for('delete_category', category_name=category.name) }}"
        method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <button type="submit" class="btn btn-danger"
            {% if "username" not in session %} disabled {% endif %}>
      Delete
    </button>
  </form>
</div>
