<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Catalog App">
    <meta name="author" content="Ying Xiong">

    <title>Catalog App</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/offcanvas.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Catalog App</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="container">

      <h2>Vertical (basic) form</h2>

      <form role="form">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title" value="Current email">
        </div><!-- /.form-group -->
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" class="form-control" rows="20">Some descriptions already in here.</textarea>
        </div><!-- /.form-group -->
        <div class="form-group">
          <label for="wiki">Wikipedia URL:</label>
          <input type="text" class="form-control" id="wiki" value="http://wikipedia/foo/bar">
        </div><!-- /.form-group -->
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <hr>

      <footer>
        <p>&copy; Ying Xiong 2015</p>
      </footer>

    </div><!--/.container-->

    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/offcanvas.js"></script>
  </body>
</html>
