{% extends "base.html" %}

{% block main %}
<h2>{{ title }}</h2>

<form action="{{ submit_url }}" role="form" method="post">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" name="name" value="{{ entity.name }}">
  </div><!-- /.form-group -->
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea name="description" class="form-control" rows="10">{{ entity.description }}</textarea>
  </div><!-- /.form-group -->
  <div class="form-group">
    <label for="wiki">Wikipedia URL:</label>
    <input type="text" class="form-control" name="wiki" value="{{ entity.wiki_url }}">
  </div><!-- /.form-group -->
  <button type="submit" class="btn btn-success">Submit</button>
  <a class="btn btn-danger" href="{{ cancel_url }}">Cancel</a>
</form>
{% endblock %}
