{% extends "base.html" %}

{% block main %}
<div id="result" class="alert" role="alert"></div>
<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <div id="signinButton">
      <span class="g-signin"
            data-scope="openid email"
            data-clientid="924877529329-r1e2e4r112rvgvg7tqr6borecsgpirrg.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"></span>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<script>
 function signInCallback(authResult) {
   if (authResult['code']) {
     // Hide the sign-in button now that the user is authorized.
     $('#signinButton').attr('style', 'display: none');
     $('#result').removeClass('alert-danger').addClass('alert alert-success').html('Signing in...');
     // Send the one-time-use code to the server. If the server responds,
     // write a message to the web page and then redirect back to the home
     // page.
     $.ajax({
       type: 'POST',
       url: '/gconnect?state={{ state }}',
       processData: false,
       contentType: 'application/octet-stream; charset=utf-8',
       data: authResult['code'],
       success: function(result) {
         if (result) {
           $('#result').removeClass('alert-danger').addClass('alert-success').html(result + ' Redirecting...');
           setTimeout(function() { window.location.href = "/"; }, 1000);
         }
       },
       error: function(result) {
         $('#result').removeClass('alert-success').addClass('alert-danger').html(result.responseText);
       }
     });
   } else if (authResult['error']) {
     console.log('There was an error: ' + authResult['error']);
   } else {
     $('#result').html('Failed to make a server-side call. Check your confiuration and console.');
   }
 }
</script>
{% endblock %}
