{% extends "base.html" %}

{% block main %}
<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-9">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Categories</button>
    </p>
    <div class="jumbotron">
      {{ jumbotron | safe }}
    </div>

    <div class="row">
      {% for a in abstracts %} {{ a | safe }} {% endfor %}
    </div><!-- /.row -->
  </div><!--/.col-xs-12.col-sm-9-->

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
      {% for link in category_links %} {{ link | safe }} {% endfor %}
    </div>
    <a class="btn btn-success" role="button" href="{{ url_for('create_category') }}">Add a category</a>
  </div><!--/.sidebar-offcanvas-->
</div><!--/row-->
{% endblock %}
